/************************************** MAIN **************************************/
.sprite {
  display: inline-block;
  background-repeat: no-repeat;
  background-color: transparent; }

#background {
  position: absolute;
  left: 0;
  right: 0;
  background-position: center;
  background-size: cover;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url("/Project/Design/1_Website/Main_Layout/images/gyukakuBg.png");
  background-repeat: no-repeat; }

#wrapper {
  width: 1108px; }
  #wrapper div[id*='content_wrapper'] {
    min-height: 300px; }

#noScript {
  position: relative;
  width: 988px;
  margin: 0 auto;
  text-align: center;
  padding: 10px 0; }
  #noScript a {
    color: #0076C0; }
